html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background:#f4f4f4;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container-default {
  width:600px;
  height: auto;
  margin:0 auto;
  border-radius:7px;
  box-shadow: 1px 1px 5px 1px #888888;
  max-width:100%;
  background-color: #fff;

}

.avatar {
  width:200px;
  height:200px;
  max-width:100%;

}



.avatar-container {
  width:180px;
  height:180px;
  border-radius:180px;
  overflow:hidden;
  box-shadow: 1px 1px 5px 1px #888888;
  display:flex;
  align-items:center;
  justify-content:center;
  border:2px solid #e4e4e4;
  max-width:100%;

}
.profile-info-container {
  display:flex;
  flex-direction:row;
  margin:0 auto; 
  align-items:center;
  justify-content:space-around;
  padding:16px;
  max-width:100%;

}

.profile-photo-container {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  max-width:100%;
  

}

.profile-data-container {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  max-width:100%;

}

.paragraph-container {
  display:flex;
  border:2px solid;
  margin:0px;
  padding:0px;
  align-items:flex-start;
}

.paragraph-thin {
  font-size:16px;
  font-weight:200;
  margin:0px;
  padding:0px;
}

.paragraph-bold {
  font-size:16px;
  font-weight:600;
  margin:0px;
  padding:0px;
}

.my-input {
  width:200px;
  max-width:100%;
  margin-top:5px;
  margin-bottom:5px;
}


.button-container {
  display:flex;
  align-items:center;
  justify-content:flex-end;
  width:100%;
  padding-right:30px;
  padding-bottom:30px;
  gap:6px;

}